*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    
    overflow-x: hidden;
}

img{
    height: 100%;
    width: auto;
}
