@media (max-width: 850px) {
    body * {
        display: none;
    }

    .progress {
        display: flex !important;
        width: 100vw;
        height: 80vh;
        justify-content: center;
        align-items: center;
    }
    .progress div,h1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 15px 0;
    }

    .progress h1{
        display: block;
    }

    /* HTML: <div class="loader"></div> */
    .loader {
        display: block;
        width: 80%;
        height: 30px;
        box-shadow: 0 3px 0 #fff;
        --g: repeat-x repeating-linear-gradient(90deg, #ccc 0 16px, #0000 0 18px, #ccc 0 34px, #0000 0 100%);
        background: var(--g), var(--g);
        background-size: 60px 14px, 60px 14px;
        animation: l8 1s infinite linear;
    }

    @keyframes l8 {
        0% {
            background-position: 0 0, 0 100%
        }

        100% {
            background-position: 60px 0, 60px 100%
        }
    }
}